---
import Newsletter from "../vue/newsletter.vue";
---

<section class="newsletter">
    <div class="container">
        <div class="section-title">
            <span class="overlay"> Subscribe to our newsletter </span>
            <h2>Prepare yourself & let's explore the beauty of the world</h2>
            <Newsletter client:visible />
        </div>
        <div class="container"></div>
    </div>
</section>
