---
import Header from "../components/astro/header.astro";

interface props {
    title: string;
    description?: string;
}

const { title, description = "Normal description" } = Astro.props as props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content={description} />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{title}</title>
    </head>
    <body>
        <Header/>
        <main>
            <slot />
        </main>
    </body>
</html>

<style is:global>
    *,
    *::after,
    *::before {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    body{
        font-size: 14px;
        color:#000000;
    }
    a{
        text-decoration: none;
        color: #000000;
    }
    .container {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 20px;
        padding-right: 20px;
    }
    section {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .btn-cta,.btn-cta-white{
        padding: 16px 32px;
    }
    .btn-cta{
        border-radius:20px;
        background:#5D50C6;
        color:#EEEEEE;
    }
    .btn-cta-white{
        background:#fff;
        color:#000000;
    }
    .overlay-text{
        color:#F85E9F;
        margin-bottom:16px;
    }
    @media (min-width: 992px) {
        section {
            padding-top: 120px;
            padding-bottom: 120px;
        }
    }
</style>
